<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Header Page</title>
    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="./js/bootstrap.js" type="text/javascript"></script>
    <style>
      .customBorder{ border-bottom: 1px solid #EE5731; }
    </style>

  </head>
  <body>

    <div style="position: fixed; text-align:center; border-bottom:1px solid #EE5731;">
      <img src="../public/header.png" alt="headerlogo"  style="padding:3px;" />
    </div>
    <!-- <div class="customBorder" /> -->
  </body>
</html>